<!doctype html>
<html>
<head>
    <title>Welcome to <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to <%= shopData.shopName %></h1>
            <% if (user) { %>
                <div class="login-box">
                    <p>Welcome <span class="welcome-text"><%= userName %></span></p> <!-- Displaying user info -->
                    <p><a href="/users/logout">Logout</a></p>
                </div>
            <% } else { %>
                <div class="login-box">
                    <p>Welcome <span class="welcome-text">Guest</span></p>
                    <p><a href="/users/login">Login</a></p>
                </div>
            <% } %>
        </header>

        <nav>
            <p><a href="about">About <%= shopData.shopName %></a></p>
            <p><a href="movies/search">Search for movies</a></p>
            <p><a href="movies/addmovie">Add a new movie</a></p>
            <p><a href="movies/list">List movies</a></p>
            <p><a href="users/register">Register with us</a></p>
            <p><a href="movies/latest">Latest releases</a></p>
            <p><a href="/movies/recommendations">Recommendations</a></p>
            <p><a href="/movies/user-preferences">User-preferences</a></p>
            <p><a href="/api-provision">API Provision</a></p>
        </nav>


        <footer>
            <p>&copy; 2023 <%= shopData.shopName %>. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
