<!doctype html>
<html>
  <head>
    <title>Welcome to <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%= shopData.shopName %> Shop</h1>
    <h2>Latest movie releases from TMDb:</h2>
    <ul>
      <% latestMoviesFromAPI.forEach(function(movie) { %>
        <li><%= movie.title %>, Release Date: <%= movie.releaseDate %></li>
      <% }) %>
    </ul>

    <h2>Latest movie entries in our database:</h2>
    <ul>
      <% latestMoviesFromDB.forEach(function(movie) { %>
        <li>
          <strong>Title:</strong> <%= movie.title %><br>
          <strong>Description:</strong> <%= movie.description %><br>
          <strong>Release Date:</strong> <%= movie.releaseDate %>
        </li>
      <% }) %>
    </ul>
    <!-- Link to go back to Home -->
    <p>Want to go back? <a href="/">Home</a></p>
  </body>
</html>
