<!doctype html>
<html>
<head>
  <title>Search Results - <%= shopData.shopName %></title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
  <h1>Search Results - <%= shopData.shopName %></h1>
  <% if (movies && movies.length > 0) { %>
    <ul>
      <% movies.forEach(function(movie) { %>
        <li>
          <strong><%= movie.title %></strong><br />
          Description: <%= movie.description %><br />
          Release Date: <%= new Date(movie.release_date).toString().split(' ').slice(0, 6).join(' ') %><br />
          <strong>Overall Rating: <%= movie.rating || 'No Rating Yet' %></strong>
        </li>
        <hr />
      <% }) %>
    </ul>
  <% } else { %>
    <p>No movies match your search criteria. Please try again!</p>
  <% } %>
  <p><a href="/movies/search">Back to Search</a></p>
</body>
</html>
